@tailwind base;
@tailwind components;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', 'Roboto', 'Helvetica Neue', sans-serif;
  @apply bg-greyish-blue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.card {
  min-width: 400px;
}

.perf-ball-container {
  width: 300px;
  height: 300px;

  position: fixed;
  left: 0;
  bottom: 40px;
  padding: 4px;
  border-radius: 15%;
  @apply bg-gray-500 shadow-xl;
}

@keyframes move_item {
  0%,
  100% {
    top: 20px;
    left: 20px;
  }
  25% {
    top: 20px;
    left: 220px;
  }
  50% {
    top: 220px;
    left: 220px;
  }
  75% {
    top: 220px;
    left: 20px;
  }
}

.item {
  position: absolute;

  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;

  opacity: 1;
  border-radius: 25px;

  animation-name: move_item;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  @apply bg-universe-blue;
}

@tailwind utilities;
